ALTER TABLE organisationlocation ADD COLUMN IF NOT EXISTS images_json JSONB DEFAULT '[]'::jsonb; ALTER TABLE organisationlocation ADD COLUMN IF NOT EXISTS attributes_json JSONB DEFAULT '{}'::jsonb; UPDATE organisationlocation SET images_json = '[]'::jsonb WHERE images_json IS NULL; UPDATE organisationlocation SET attributes_json = '{}'::jsonb WHERE attributes_json IS NULL;
